{% extends 'catalog/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Сброс пароля</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" class="form-floating">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Сбросить</button>
                        </form>
                </div>
        </div>
    </div>
{% endblock %}